body{
    background: #e9e7e766;
}

body.dark{
    background-color: #363636;
}


.fom{
    display: flex;
    justify-content: space-between;
    cursor: pointer;
    
   
   
}


.theme-toggle-button {
   
    cursor: pointer;
     padding: .5em 1em;
     border-radius: .3em;
     background-color: lightgray;
     border: none;
     outline: none;
     display: flex;
     margin-right: 25px;
 }

.sun{
    top: 5%;
    opacity: 1;

    }

    .dark .sun{
        opacity: 0;
    }
    .moon {
    bottom: 5%;
    opacity: 0;
    }

    .dark .moon {
        opacity: 1;
    }


.search {
    padding: 10px;
    background-color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 15px;
    border-radius: 8px;
    margin-left: 25px;
   
   
}

.container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    padding: 30px;
    max-width: 1440px;
    position: relative;
    margin: 0 auto;
    
   
    
}

.divcontainer{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    padding: 30px;
    max-width: 1440px;
    position: relative;
    margin: 0 auto;
   
    
}
.card{
    background: white;
    box-sizing: border-box;
    border-radius: 4px;
    width: 300px;
    height: 450px;
    padding: 10px;
    margin-bottom: 10px;
    

}



.card-image{
    height: 200px;
    max-width: 100%;
    
}

@media only screen and (min-width: 200px) and (max-width: 767px){
    .divcontainer{
        width: 100%;
        flex-direction: column;
        margin: 0 auto;
        padding: 10px;
       
    }
 
.card{
    background: white;
    box-sizing: border-box;
    border-radius: 4px;
    width: 300px;
    height: 390px;
    padding: 10px;
    margin-bottom: 10px;
}


   
        
}





